:root {
    --sage: #caddc7;
    --darkSage: #a4c79d;
    --black: #000000;
    --forest: #062201;
    --orange: #ffa059;
}
/* {
    color: var(--fontColor);
    .p1{
        font-family: helvetica;
    }

    .p2{
        font-family: Arial, Helvetica, sans-serif;
    }

    
  }*/

  .p1{
    font-family: helvetica;
    color: var(--fontColor);
}

  body {
    background: var(--bg);
}

.main-theme{
   --bg: var(--sage);
   --fontColor: var(--orange);
   --btnBg: var(--darkSage);
}
