:root {
    --sage: #caddc7;
    --darkSage: #a4c79d;
    --black: #000000;
    --forest: #062201;
    --orange: #ffa059;
}

body{    
    font-family: 'American Typewriter', sans-serif;                                               
    background-color: rgb(232, 249, 234);
}

.container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: rgb(246, 127, 23);
    text-align: center;
    font-family: 'American Typewriter', sans-serif; 
    font-size: 45px; font-weight: normal; 
    font-weight: bold;
    font-stretch: 250%;
    line-height: 72px; margin: 0; 
}

h2{
    font-family: 'American Typewriter', sans-serif;
    font-weight: 600;
    text-align: center;
}

p1{
    color: forestgreen;
    font-weight: 550;
}

p2{
    color:rgb(252, 53, 13);
    font-weight: 550;
}

p3{
    color:rgb(140, 3, 140);
    font-weight: 550;
    font-stretch: 150%;
}

p4{
    color:blue
}

p5{
    color:rgb(176, 33, 14)
}

p6{
    color:#003112
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  a:link {
	color: black;
	}
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #fdddc8;
	color: black;
    text-align:center;
    margin-left: 25px;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
 
  .wrapper-bottom-left {
	position: absolute;
	top: 75%;
	left: 10%;
}

.button{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;    
}

.button2{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;    
}

.wrapper-bottom-middle {
	position: absolute;
	top: 75%;
	left: 43%;
}

.wrapper-bottom-right {
	position: absolute;
	top: 75%;
	left: 75%;
}  

.wrapper-top-middle{
	position: absolute;
	top: 20%;
	left: 43%;
}

.wrapper-top-right{
	position: absolute;
	top: 20%;
	left: 75%;
}

* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 350px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
